[data-tab-content] {
    display: none;
    border-radius: 10px; 
    padding: 10px;
    max-width: 95%; 
    min-height: 30vh;

    
}



  /* #ul-el .list {
    margin: 10px 10px;
    padding: 0px;
    float: left;
    
    

    } */
   

  
  .active[data-tab-content] {
    display: block;
    
    
  }
  
 
  
  .tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    color: black;
    background-color: #ffb662;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    padding :0px 10px;
    box-shadow: 0px 3px 1px black;

  }
  
  .tab {
    cursor: pointer;
    padding: 10px 5px;
    font-weight: bold;
    border-radius: 5px;
    
  }
  

  .tab:active {
    background-color: #AAA;
    
  }
  
  .tab-content {
    margin-left: 0px;
    margin-right: 0px;
    
  }
  




*{
    margin: 0px;
    padding: 0px;
}
body{
background-color: #FFFFFF;

}
#result{
    color: black;


}
.container {
    max-width: 30%;
    min-height: 99vh;
    border: 1px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    grid-row:auto;

    background: linear-gradient(359.75deg, rgba(251, 188, 5, 0.34) 1.85%, rgba(255, 255, 255, 0) 49.94%);    
}



input{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    font-size: 15px;
    padding : 5px 20px;
    border: 1px solid wheat;
    
    border-radius: 10px;
    text-align: center;


}
    #app-name{
        font-size:30px;
        margin-bottom: 20px;
    text-align: center;
    color: black;
    
}
#logo{
max-width: 20%;
height: 10vh;
border-radius: 10%;
float: left;
margin: 5px 0px 0px 5px;

}
#profile-img{
    max-width: 40%;
    border-radius: 10%;
    margin: 10px 0px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    
}

.home{
   max-width: 80%;
   margin-left: auto;
   margin-right: auto;
   border-radius: 10px;
   background-size: cover;
    padding-bottom: 5%;

}
header{
    margin-bottom: 10%;

}
header nav{
   
    display: inline-block;
    width: 70%;
    
    
}
   


nav li{
    display: inline-block;
    padding: 10px 0px;
    text-align: center;
    


}
    a{
    list-style: none;
    text-decoration: none;
    font-family: 'Inder';
    font-style: normal;
    font-weight: bolder;
    padding: 5px;
    
   
   
    color: black;

}
    a:active{
    
    opacity: 1;
    box-shadow: 0px 5px 1px black;
    color: rgb(46, 58, 104);
    border-radius: 5px;
    padding: 3px 5px;

    
    }
    .btn{
    background: linear-gradient(90deg, #FFFFFF 0%, #FDA43C 100%);

    border-radius: 10px; 
       color: black;
    transition: all 150ms ease-in-out;
    box-shadow: 0px 3px 1px black;

    padding: 10px 5px;
    font-size: 10px;
   font-weight:900;
  margin: 5px;
  width: 45%;
  min-height: auto;
  border: 1px solid rgb(123, 16, 16);
    
}
.btn:active{
    opacity: 1;
    color: blue;
    border: 1px solid rgb(255, 255, 255);
  box-shadow: 5px 5px 5px rgb(255, 255, 255);



}
/* about and contact pages */

address a{
    color: whitesmoke;
}

.icon {
	max-width: 15px;
	max-height: 15px;
	padding: 1px 1px;
	margin: 5px 2.5px;
    aspect-ratio: 3/3;
    
}

article p, h1{
    color: white;
    padding: 10px;
}

/* Add a hover effect if you want */
.fa:hover {
	opacity: 0.7;
}
img{
    max-width: 60%;
    margin: 10% 0px;
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgb(250, 247, 247);

}

.about{
    max-width: 80%;
    min-height: auto;
    background-color: rgb(45, 43, 43);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 5%;
    background-image: url("vc.jpg");
    background-size:contain;
    background-position: center;
    background-blend-mode:overlay;    
}
.list{
    max-width: 80%;
    min-height: auto;
    /* background-color: rgb(45, 43, 43); */
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 5%;
    /* background-image: url("vc.jpg"); */
    /* background-size:contain;
    background-position: center;
    background-blend-mode:overlay;     */
}
p{
    line-height: 3vh;
}
h1{
    font-size: x-large;
}
h3{
    color: whitesmoke;
    font-size: large;
    line-height: 3vh;

}
.btn-form{
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 900;
    background-color: #ffb662;
    box-shadow: 0px 1px 1px rgb(250, 247, 247);


}

.btn-form:active{
    color: #f5f4f4;
    background-color: #fbfbfb;
}
.contact-message{
    padding: 10px;
    margin: 10px  0px;
    background-color: #f5f4f4;
    border-radius: 10px;
    width: 50%;
    font-size: 10px;
    box-shadow: 0px 1px 1px rgb(250, 247, 247);
    text-align: center;


}
button >a{
    text-decoration: none;
    color: black;
}
.contact-message:valid {
    
    border: none;
    outline: 2px solid rgb(14, 168, 11);
}

   
#logo{
max-width: 20%;
height: 10vh;
border-radius: 10%;
float: left;
margin: 5px 0px 0px 5px;

}


th{
    border: 1px solid black;
    padding: 5px;
    width: 25%;
    background: rgb(194,178,128);


}
table{
    border: none;
    display: inline-block;
    padding: 0px;
    line-height: 4vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* overflow: auto; */
    max-width: 100%;

    

}
tr{
    color: rgb(0, 0, 0);
    
    border-bottom: black;

    

    

}


td{
    border: 1px solid black;
    padding: 5px 5px;
    text-align: center;
    color: whitesmoke;
    text-shadow:  5px 5px 5px black;
    background-color: #979494;
    font-size: small;
    width: 25%;
    color: whitesmoke;
    padding: 10px 20px;
    

}



/* footer for all tabs */
footer{
    padding-top: 10%;
    color: black;
    display:inline-block;
}


   
@media screen and (max-width: 700px) {
    .container{
        max-width: 100%;
          margin-top:1%;
          min-height: 95vh;

 
     }
     /* .btn{
        display: flex;
        flex-direction: column;
    } */


   
    /* button{
        max-width: 100%;
  
  
} */

    
    #title{
        font-size: 30px;
    }
    footer{
        margin-top: 20%;
    }
    #logo{
        max-width: 20%;
        height: 10vh;
        
        }
  
        #app-name{
            font-size:25px;
       
    }

    
 
}